.item-card {
  padding: 1rem;
  margin: 0;
  box-shadow: 8px 8px 8px rgba(24, 24, 24, 0.2);
}

.item-card__image-container {
    width: 50%;
    height: auto;
}
  
.item-card__image {
    display: block;
    margin-left: 50%;
}
  
.item-card__subtitle, .item-card__tech-stack {
    margin: 1.2rem 0;
    color: var(--color-light);
    text-wrap: wrap;
  }

.item-card__tech-stack{
  max-width: 80%;
}
  
.item-card__cta {
  width: max-content;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}