.item-card {
  padding: 1rem;
  margin: 0;
  box-shadow: 8px 8px 8px rgba(24, 24, 24, 0.2);
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item-card__title{
  height: 4rem;
}

.item-card__subtitle{
  height: 6rem;
  text-overflow: ellipsis;
}

.item-card__image-container {
    width: 100%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 1rem;
}

.item-card__link{
  height: 80%;
  width:100%;
  display: flex;
  align-items: center;
}
  
.item-card__image {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: fill;
}
  
.item-card__subtitle, .item-card__tech-stack {
    color: var(--color-light);
    text-wrap: wrap;
  }

.item-card__tech-stack{
  max-width: 80%;
  display: flex;
  align-items: center;
}
  
.item-card__cta {
  height: 20%;
  width: max-content;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}