

.about_container {
  padding: 4rem 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_container h2 {
  margin: 0%;
  padding: 50px;
}

.about_content p {
  margin: 0%;
  line-height: 1.5;
  color: rgb(112, 112, 112);
}

.btn-about {
  display: flex;
  margin-top: 2rem;
  width: max-content;
  border: none;
  border-radius: 0.5rem;
  color: aliceblue;
  background: rgb(0, 116, 217);
  padding: 0.75rem;
  cursor: pointer;
}

/* -------- MEDIA (MEDIUM DEVICES) -------- */

@media screen and (max-width: 1024px) {
  .about_content p {
    margin: 1rem 0 1.5rem;
  }
}

/* -------- MEDIA (SMALL DEVICES) -------- */

@media screen and (max-width: 600px) {
  .about_content {
    text-align: center;
  }
}
