.header {
  height: 100vh;
  padding-top: 2rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header__cta {
  margin-top: 2.5rem;
  justify-content: center;
}

.header__socials {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 5rem;
  bottom: 15rem;
  margin: 3rem;
  gap: 1rem;
  font-size: x-large;
}

.header__socials::after {
  content: "";
  width: 2px;
  height: 1.5rem;
  background-color: var(--text-color);
}

.header__pic {
  width: 25rem;
  height: 30rem;
  position: relative;
  left: calc(47% - 10rem);
  padding: 1.5rem;
  margin-top: 4rem;
  border-radius: 10rem;
  box-shadow: 0 0 15px #00c6ff;
}

.header__scroll-down {
  position: absolute;
  right: 1rem;
  bottom: 20rem;
  transform: rotate(90deg);
  font-size: large;
}

.header__btn:visited {
  text-decoration: none;
}

.header__social-link:visited {
  text-decoration: none;
}

/* -------- MEDIA (MEDIUM DEVICES) -------- */
@media screen and (max-width: 1024px) {
  .header {
    height: 68vh;
  }
  .header__socials {
    width: 0%;
    margin-bottom: 0%;
  }

  .header__scroll-down {
    bottom: 18rem;
  }

  .header__pic {
    width: 20rem;
    height: 20rem;
    left: calc(55% - 11rem);
    padding: 2rem;
    margin-top: 1rem;
    box-shadow: none;
  }
}


/* -------- MEDIA (SMALL DEVICES) -------- */
@media screen and (max-width: 600px) {
  .header {
    height: 100vh;
  }

  .header__socials,
  .header__scroll-down {
    display: none;
  }

  .header__pic {
    width: 20rem;
    height: 25rem;
    left: calc(50% - 10rem);
  }
}
