footer {
  position: relative;
  padding-top: 9rem;
  padding-bottom: 120px;
  font-size: 1rem;
  text-align: center;
  background-image: url('../../assets/ilustrations/wave.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280%;
  overflow: hidden;
  color: var(--text-color-dark);

}

.footer_name h2{
  margin: 1rem;
}

.permalinks {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 0 auto 3rem;
}

.permalinks a {
  color: black;
}

.footer_copy {
  display: flex;
  margin-top: -1.5rem;
  justify-content: center;
  gap: 0.5rem;
  color: black;
}

.footer_copy a {
  color: black;
}

/* -------- MEDIA (MEDIUM DEVICES) -------- */

@media (min-width: 601px) and (max-width: 1024px) {
  footer {
    background-size: 800%;
  }
  .permalinks a,
  .footer_copy {
    font-size: x-large;
  }

}

/* -------- MEDIA (SMALL DEVICES) -------- */

@media screen and (max-width: 600px) {
  footer {
    margin-top: 5rem;
    background-size: 1000%;
  }
  .permalinks a {
    gap: 2rem;
  }
  .footer_copy{
    margin-right: 0.5rem;
  }
}
