@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-bg: white;
  --color-light: grey;
  --color-blue: blue;

  --container-width-lg: 75%;
  --container-widtth-md: 86%;
  --container-width-sm: 90%;

}

.swith {
  display: flex;
  justify-content: center;
}

#light {
  background-color: white;
}

#light .header_socials a{
  color: black;
}

#light h3{
  color: black;
}

#light h2{
  color: black;
}


#light header h4{
  color: var(--color-light);
}

#light .scroll_down {
  color: black;
}
/*
#light textarea {
  border: none;
} */

#light .portfolio_item-cta a {
  color: black;
}

#dark {
  background-color: rgb(33, 33, 33)
}

#dark .portfolio_item {
  background-color: black;
}

#dark .success-message {
  color: white;
}

#dark
h1,
h2,
h3,
h4,
.scroll_down,
#about,
#projects,
.portfolio_item-cta a
{
  color: white;
}

#dark .header_socials a {
  color: white;
}

#dark .header_socials::after{
  background-color: white;
}

#dark input, textarea {
  background-color: white;
  /* border: var(--color-bg); */
}

/* #dark .permalinks a {
  color: white;
} */

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  line-height: 1.7;
}

/* -------- GENERAL STYLES -------- */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}



h4,
h5 {
  font-weight: 400;
  /* font-size: 15pt; */
}

/* font-size: 20pt;
font-weight: bold; */

/* section {
  margin-top: 8rem;
  height: 100vh;
} */

section > h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.text-light {
  color: var(--color-light);
}


img{
  display: block;
  width: 100%;
  object-fit: cover;
}

.btn {
  width: max-content;
  border: none;
  border-radius: 0.5rem;
  color: aliceblue;
  background-image: linear-gradient(to right, #57a3c9, #33ccff);
  padding: 0.75rem;
  cursor: pointer;
  margin: 10px;
  transition: background-image 0.3s ease;
}




/* -------- MEDIA (MEDIUM DEVICES) -------- */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-widtth-md);
  }
}

/* -------- MEDIA (SMALL DEVICES) -------- */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
